<div class='d-flex flex-row'> 
  <div class='notification_description'>
    <%= friend_request_notification.description %>
  </div>

  <div class='accept_request_button'>
    <%= form_for :friend_request, url: friendships_path, method: :post do |f| %>
      <%= f.hidden_field :id, value: friend_request_notification.notification_object.object.id %>
      <%= f.submit 'Accept' %>
    <% end %>
  </div>
  
  <div class='decline_request_button'>
    <%= form_for :friend_request, url: friend_request_path(friend_request_notification.notification_object.object.id), method: :delete do |f| %>
      <%= f.submit 'Decline' %>
    <% end %>
  </div>

</div>