<%= provide(:title, 'Edit Profile Picture') %>
<h2> Upload Profile Picture</h2>
<div class='row mt-3 mb-3'>
  <%= form_for @user, { url: user_path, method: :patch, html: { multipart: true } } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.file_field :profile_picture, required: true %>
    <%= f.submit :Upload, class: 'btn btn-dark' %>
  <% end %>
</div>

<div class='row'>
  <%= link_to 'Cancel', user_path(@user), class: 'btn btn-dark' %>
</div>