<%= provide(:title, @user.name) %>

<div class='container profile-header'>
  <div class='prof-pic'>
    <% if current_user?(@user) %>
      <%= link_to image_tag(@user.profile_picture.profile.url), edit_user_path(@user) %>
    <% else %>
      <%= image_tag(@user.profile_picture.profile.url) %>
    <% end %>
  </div>
  <div class='user-info'>
    <div class='top'>
      <div class='name-friends'>
        <h2 class='name'>
            <%= @user.name %>
        </h2>
        <%= render 'location_info' %>
        <%= render 'friend_info' %>
      </div>
    </div>  
    <div class='skill-tags'>
      <%= render 'tag_cloud' %>
    </div>
  </div>
</div>
<div class='container'>
  <% if current_user?(@user) %>
    <%= render 'shared/post_form' %>
  <% end %>
</div>
<div class='container posts-container'>
  <% if @user.posts.any? %>
    <ol class='row d-flex flex-column align-items-center posts-list'>
      <%= render @posts %>
    </ol>
  <% end %>
</div>