<%= provide(:title, @user.name) %>

<div class='container prof_pic'>
  <% if current_user?(@user) %>
    <%= link_to image_tag(@user.profile_picture.profile.url), edit_user_path(@user) %>
  <% else %>
    <%= image_tag(@user.profile_picture.profile.url) %>
  <% end %>
</div>
<div class='container container-fluid user-info'>
  <div class='navbar-brand mr-auto'>
    <div class='user_name'>
      <%= @user.name %>
    </div>
  </div>
  <ul class='navbar-nav'>
    <% if current_user?(@user) || already_friends?(@user) %>
      <li class='friend-count'>
          <%= link_to pluralize(@user.friends.count, 'Friend'), friendships_path, class: 'btn btn-profile' %>
      </li>
    <% end %>

    <% if already_friends?(@user) %>
      <li class='friend_removal_btn'>
        <%= form_for(current_user.friendships.find_by(friend_id: @user.id), method: :delete) do |f| %>
          <%= f.submit 'Remove from friends', class: 'btn btn-profile' %>
        <% end %>
      </li>
    <% end %>

    <% unless current_user?(@user) or already_requested?(@user) or already_friends?(@user) %>
      <li class='friend_request_btn'>
        <%= form_for @friend_request, method: :post, url: friend_requests_url do |f| %>
          <%= f.hidden_field :friend_id, value: @user.id %>
          <%= f.submit 'Send Friend Request', class: 'btn btn-profile' %>
        <% end %>
      </li>
    <% end %>
  </ul> 
</div>
<div class='location mr-auto'>
    <%= image_tag 'location-icon-profile' %>
    <%= @user.location.formatted_title %>
    <% if current_user?(@user) %>
      <%= link_to 'edit', edit_location_path(@user.location) %>
    <% end %>
</div>
<div class='container'>
  <% if current_user?(@user) %>
    <%= render 'shared/post_form' %>
  <% end %>
</div>
<div class='container posts-container'>
  <% if @user.posts.any? %>
    <ol class='row d-flex flex-column align-items-center posts-list'>
      <%= render @posts %>
    </ol>
  <% end %>
</div>