<%= provide(:title, @user.name) %>

<div class='container profile-header'>
  <div class='prof-pic'>
    <% if current_user?(@user) %>
      <%= link_to image_tag(@user.profile_picture.profile.url), edit_user_path(@user) %>
    <% else %>
      <%= image_tag(@user.profile_picture.profile.url) %>
    <% end %>
  </div>
  <div class='user-info'>
    <div class='top'>
      <div class='name-friends'>
        <h3 class='name'>
            <%= @user.name %>
        </h3>
        <%= render 'location_info' %>
        <%= render 'friend_info' %>
      </div>
    </div>  
    <div class='skill-tags'>
      <%= render 'tag_cloud' %>
    </div>
  </div>
</div>
<div class='container'>
  <% if current_user?(@user) %>
    <%= render 'posts/new' %>
  <% end %>
</div>
<ol class='posts'>
  <%= render @user.posts %>
</ol>
