<%= provide(:title, 'Password Reset') %>
<div class='pass-reset'>
    <h2>Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'reset-form' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>
    
      <div class="actions mt-3 mb-3">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-dark' %>
      </div>
    <% end %>
    
    <%= render "users/shared/links" %>
</div>

