<nav class='navbar fixed-top navbar-expand-sm navbar-dark bg-red'>
  <div class='container'>
    <% if user_signed_in? %>
      <div class='user-search-field'>
        <%= text_field_tag(:user_search, '', placeholder: 'Search', data: {autocomplete_source: search_users_path}) %>
      </div>
    <% end %>
    <% unless user_signed_in? %>
        <div class='navbar-brand'>
            <%= link_to'Dev Communities', root_path, class: 'clickable-logo' %>
        </div>
    <% end %>
    <ul class='navbar-nav'>
      <% unless user_signed_in? %>
            <li>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-inline'}) do |f| %>
                    
                    <%= f.email_field :email, autofocus: true, placeholder: 'email', autocomplete: "email", class: 'form-control mr-4 ml-3' %>
                
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'password', class: 'form-control mr-4 ml-3' %>
                    
                    <% if devise_mapping.rememberable? %>
                        <%= f.check_box :remember_me, class: 'form-check-input mr-2 ' %>
                        <%= f.label :remember_me, class: 'navlabel' %>
                    <% end %>
                
                    <%= f.submit "Log in", class: 'btn btn-light ml-3' %>
                    
                <% end %>
            </li>
      <% else %>
        <li>
            <%= link_to current_user.name, current_user, class: 'btn btn-nav' %>
        </li>
        <li>
            <%= link_to 'Home', user_root_path, class: 'btn btn-nav' %>
        </li>
        <li><%= link_to 'Conversations', conversations_path, class: 'btn btn-nav' %></li>
        <li>
            <%= link_to pluralize(current_user.received_friend_requests.count, 'Friend Request'), friend_request_notifications_path, class: 'btn btn-nav' %>
        </li>
        <li>
            <%= link_to pluralize(current_user.notification_objects.except_friend_request_type.count,  'Notification'), notifications_path, class: 'btn btn-nav' %>
        </li>
        <li>
            <div class='dropdown'>
                <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to 'Friends', friend_list_path(current_user.id), class: 'dropdown-item' %>
                    <%= link_to 'Settings', edit_user_registration_path(current_user), class: 'dropdown-item'%>
                    <hr>
                    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'%>
                </div>
            </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>