<!DOCTYPE html>
<html>
  <head>
    <title>Dev Communities | <%= yield(:title)%></title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='d-flex flex-column align-items-center' id='flash'>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type} d-flex flex-row justify-content-center") %>
        <% end %>
    </div>
    <div class='container profile d-flex flex-column align-items-center'>
      <%= yield %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
